<%- include('partials/headPublic.ejs') %>

<body>
    <div class="wrapper">
        <div class="container mt-5">
            <h4>
               <%=tipo.tipo_entidade.toUpperCase()%> DE <%= entidade.cidade.toUpperCase() %> / <%= entidade.estado.toUpperCase() %>
            </h4>
            <hr>
            <div class="d-flex mb-5">
                <div class="btn-secao" id="sobreBtn">Sobre</div>
                <div class="btn-secao ml-4" id="ticketsBtn">Tickets</div>
            </div>
        

            <% 
            var concorrenteWebsite = 0
            var concorrenteSistema = 0
            concorrentes.forEach((concorrente) => {
                if(entidade.website_concorrente == concorrente.id){
                    concorrenteWebsite = concorrente.nome
                }

                if(entidade.sistema_concorrente == concorrente.id){
                    concorrenteSistema = concorrente.nome
                }
            }) 
            %>

            <div class="card" id="CardSobre" style="display: none;">
                <div class="card-header">
                    Sobre
                </div>
                <div class="card mb-4">
                    <div class="card mb-4">
                        <!-- Card de informações -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <!-- Instalado -->
                                <div class="mb-3">
                                    <p><strong><i class="fas fa-check-circle"></i> Instalado:</strong> 
                                        <span class="badge <%= entidade.instalado === 1 ? 'bg-success' : 'bg-danger' %>">
                                            <%= entidade.instalado === 1 ? 'Sim' : 'Não' %>
                                        </span>
                                    </p>
                                </div>

                                <!-- Versão do Sistema -->
                                <div class="mb-3">
                                    <p><strong><i class="fas fa-cogs"></i> Versão do Sistema:</strong> <span class="text-uppercase text-success"><%= versao.versao %></span></p>
                                </div>

                                <!-- Sistema Concorrente -->
                                <div class="mb-3">
                                    <p><strong><i class="fas fa-laptop"></i> Sistema Concorrente:</strong> <span class="text-uppercase text-primary"><%= concorrenteSistema %></span></p>
                                </div>

                                <!-- Website Concorrente -->
                                <div class="mb-3">
                                    <p><strong><i class="fas fa-globe"></i> Website Concorrente:</strong> <span class="text-uppercase text-primary"><%= concorrenteWebsite %></a>
                                </div>

                                <!-- Módulos Contratados -->
                                <div class="d-flex flex-wrap">
                                    <strong><i class="fas fa-plug"></i> Módulos Contratados:</strong>
                                    <% if(entidade.modulos_contratados.trim().length < 1){%>
                                        <span class="badge bg-info ml-2 mb-2"><i class="fas fa-check"></i> NENHUM MÓDULO</span>
                                    <%}%>

                                    <%   
                                    var modulosOK = []
                                    var modulosContratados = entidade.modulos_contratados.split(',')
                                    for(let i = 0; i < modulosContratados.length; i++){
                                        modulosOK.push(modulosContratados[i])
                                    }%>
                                    <% modulosOK.forEach((mdls) => { %>
                                        <%   modulos.forEach((modulo) => { %>
                                            <%  if(modulo.id == mdls) { %>
                                                <span class="badge bg-info ml-2 mb-2"><i class="fas fa-check"></i> <%= modulo.modulo.toUpperCase() %></span>
                                    <%       }%>
                                    <%  });%>
                                    <% }); %>
                                </div>
                                

                                <!-- Observação -->
                                <% if(entidade.observacao !== '') { %>
                                    <div class="mt-4">
                                        <p><strong><i class="fas fa-sticky-note"></i> Observação:</strong></p>
                                        <hr>
                                        <div class="card bg-light p-3">
                                            <%- entidade.observacao %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>

                    </div>
                    
                </div>
                
            </div>    
            
            <div class="card" id="ticketsCard" style="display: none;">
                    <div class="card-header">Tickets</div>
                    <div class="card-body">
                        

                       <% if(Tickets.length < 1){%>
                            <div class="pausa-detalhes mt-2">
                                <span><strong>Esta entidade ainda não possui ticket.</strong></span><br>
                                <span class="text-muted data-pausa">
                                    <%= new Date().toLocaleString('pt-BR', { 
                                        day: '2-digit', 
                                        month: '2-digit', 
                                        year: 'numeric', 
                                        hour: '2-digit', 
                                        minute: '2-digit' 
                                    }) %>
                                </span>
                        <%}%>

                        <% Tickets.forEach((ticket) => { %>
                            <% 
                            var Prioridade = '';
                            var tipoTicket = '';

                            prioridades.forEach((prioridade) => {
                                if (prioridade.id === ticket.id_prioridade) {
                                    Prioridade = prioridade.prioridade;
                                }
                            });

                            tipos_ticket.forEach((tipo_ticket) => {
                                if (tipo_ticket.id === ticket.id_tipo) {
                                    tipoTicket = tipo_ticket.tipo_ticket;
                                }
                            });
                            %>

                            
                                <div class="ticket-card mb-3" onclick="carregaBtns('<%=ticket.id%>')">
                                    <div class="ticket-header d-flex justify-content-between align-items-center">
                                        <span class="ticket-id">
                                            Ticket Nº #<%= ticket.id %>00<%=entidade.id%>
                                        </span>
                                        <span class="ticket-date text-muted">
                                            <%= new Date(ticket.createdAt).toLocaleString('pt-BR', { 
                                                day: '2-digit', 
                                                month: '2-digit', 
                                                year: 'numeric'
                                            })%>
                                        </span>
                                    </div>

                                    
                                    <div class="ticket-details mt-2">
                                        <span class="ticket-prioridade d-block">Prioridade: <%= Prioridade.toUpperCase() %></span>
                                        <span class="ticket-tipo d-block">Tipo: <%= tipoTicket.toUpperCase() %></span>
                                    </div>
                                    
                                    <div class="ticket-details mt-2">
                                        <span class="ticket-assunto d-block"><strong>Assunto:</strong> <%= ticket.assunto.toUpperCase() %></span>
                                        <span class="ticket-status-geral d-block"><strong>Status:</strong> <%= ticket.status_geral.toUpperCase() %></span>
                                    </div>
                                
                                    <div style="display: none;" id="botoes-<%=ticket.id%>" class="mt-2">
                                        <a target="_blank" href="/ticket/<%=ticket.id%>"><div style="display: inline-block;" class="btn btn-dark btn-sm botao_visualizar">
                                            <i class="fas fa-eye"></i> Visualizar
                                         </div></a>
                                    </div>
                            
                                </div>
                        <% }) %>

                    </div>

                    <% if(totalPages > 0){%>
                        <div class="card-footer">
        
                            <div class="d-flex justify-content-center">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                            <a class="page-link" href="?page=<%= currentPage - 1 %>">Anterior</a>
                                        </li>
                                        
                                        <% for (let i = 1; i <= totalPages; i++) { %>
                                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                            </li>
                                        <% } %>
                                
                                        <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                            <a class="page-link" href="?page=<%= currentPage + 1 %>">Próximo</a>
                                        </li>
                                    </ul>
                                </nav>
                                
                            </div>
                        </div>
                    <%}%>
            </div>

        </div>
        
        <br>
    </div>
</body>
<script src="/js/javascript.js"></script>
</html>