<%- include('partials/head.ejs') %>

<body>
    
    <div class="wrapper">
        <div class="container">
            <div tabindex="-1" id="alertaerro" role="alert" style="display: none;"></div>
            <form action="/salvar_ticket" class="form-control" method="post" onsubmit="cadastrarTicket(); return false;">
                
                <div class="card shadow-lg">
                    <div class="card-header">
                        Registrar ticket
                    </div>
    
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="form-group">
                                <label for="id_tipo"><strong>Tipo do Ticket</strong></label><br>
                                <select class="form-control form-control-lg inputs camposBuscaPesquisa" id="id_tipo" name="id_tipo">
                                    <option value="" selected disabled>Selecione o tipo:</option>
                                    <% tipos.forEach((tipo) => { %>
                                        <option value="<%=tipo.id%>"><%=tipo.tipo_ticket.toUpperCase()%></option>
                                    <%})%>
                                
                                </select><br><br>
                                <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                            </div>
    
                            <div class="form-group ml-5">
                                <label for="id_prioridade"><strong>Prioridade</strong></label><br>
                                <select class="form-control form-control-lg inputs camposBuscaPesquisa" id="id_prioridade" name="id_prioridade">
                                    <option value="" selected disabled>Selecione a prioridade:</option>
                                    <% prioridades.forEach((prioridade) => { %>
                                        <option value="<%=prioridade.id%>"><%=prioridade.prioridade.toUpperCase()%></option>
                                    <%})%>
                                </select><br><br>
                                <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label for="assunto"><strong>Assunto</strong></label>
                            <input type="text" class="form-control form-control-lg inputs" id="assunto" name="assunto">
                            <br>
                        <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                        </div>
    
                        <div class="form-group">
                            <label for="id_entidade"><strong>Entidade</strong></label>
                            <select class="form-control form-control-lg inputs camposBuscaPesquisa" id="id_entidade" name="id_entidade">
                                <option value="" selected disabled>Selecione a entidade:</option>
                                <% entidades.forEach((entidade) => { %>
                                    <% var tipoEntidadeOK = ''
                                        var tipo_entidade = tipos_entidade.find(tipo_entidade => tipo_entidade.id === entidade.tipo_entidade);
                                        if(tipo_entidade){
                                            tipoEntidadeOK = tipo_entidade.tipo_entidade
                                        }%>
                                    <option value="<%=entidade.id%>"><%=tipoEntidadeOK.toUpperCase()%> DE <%=entidade.cidade.toUpperCase()%> - <%=entidade.estado.toUpperCase()%></option>
                                <% }) %>
                            </select><br><br>
                            <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                        </div>
                        <script>

                        </script>
    
                        <div class="form-group">
                            <label for="descricao"><strong>Descrição</strong></label>
                            <textarea class="form-control form-control-lg inputs" id="descricao" name="descricao" rows="4"></textarea><br>
                            <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                        </div>
                    </div>
    
                    <div class="card-footer">
                        <div onclick="cadastrarTicket()" class="btn btn-success">Salvar</div>
                        <a href="/listar_tickets" class="btn btn-secondary">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

<%- include('partials/footer.ejs') %>