<%- include('partials/head.ejs') %>

<body>

    <div class="wrapper">

        <div class="container">



            <div class="card mt-2">
                
                <div class="card-header">
                    Módulos do sistema
                </div>
                
                <div class="card-header">
                    <% if(infoGrupo.inserir === 1){%>
                        <a href="/inserir_modulos"><button class="btn btn-primary botao_inserir" id="botao_inserir" >Inserir</button></a>
                    <%}%>
                    <a href="/admin"><div class="btn btn-secondary">Voltar</div></a>
                </div>
    
                <div class="card-body">
    
                    <div class="container">
                        <div class="row fw-bold border-bottom pb-2 mb-3 d-none d-md-flex">
                        </div>
                      
                        <% modulos.forEach((modulo) => { %>
                          <div class="border-bottom py-2">
                            <div class="row align-items-center">
                              <div class="col d-flex justify-content-between align-items-center">
                                  <span><%= modulo.modulo.toUpperCase() %></span>
                                  <% if(infoGrupo.deletar === 1 || infoGrupo.alterar === 1){ %>
                                    <button class="btn btn-info btn-sm" onclick="carregaBtns('<%=modulo.id%>')" id="botaomais" >
                                        <i class="fas fa-plus"></i> <!-- Ícone de "+" -->
                                    </button>
                                <%}%>
                              </div>
                            </div>
                            <div style="display: none;" id="botoes-<%=modulo.id%>" class="mt-2">
                              <form action="/deletar_modulos" method="post" class="flex">
                                <% if(infoGrupo.alterar === 1){%>
                                      <a href="/alterar_modulos/<%=modulo.id%>"><div style="display: inline-block;" class="btn btn-warning btn-sm botao_alterar">
                                        <i class="fas fa-edit"></i> Alterar
                                      </div></a>
                                  <%}else {%>
                                      <div style="display: none;" class="btn btn-warning btn-sm botao_alterar">Alterar</div>
                                  <%}%>
    
                                  <% if(infoGrupo.deletar === 1){%>
                                          <div style="display: inline-block;" class="btn btn-danger btn-sm botao_deletar" onclick="deletar('<%=modulo.id%>')" >
                                            <i class="fas fa-trash-alt"></i> Deletar
                                          </div>
                                  <%}else {%>
                                      <div style="display: none;" class="btn btn-danger btn-sm botao_deletar" name="botao_deletar">Deletar</div>
                                  <%}%>
                                  <input style="display: none;" type="hidden" name="id" value="<%=modulo.id%>"></input>
                              </form> 
                              
                            </div>
                          </div>
                        <% }); %>
                      </div>
                      
    
                </div>
    
                <% if(totalPages > 0){%>
                    <div class="card-footer">
    
                        <div class="d-flex justify-content-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                        <a class="page-link" href="/listar_modulos?page=<%= currentPage - 1 %>">Anterior</a>
                                    </li>
                                    
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                            <a class="page-link" href="/listar_modulos?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>
                            
                                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                        <a class="page-link" href="/listar_modulos?page=<%= currentPage + 1 %>">Próximo</a>
                                    </li>
                                </ul>
                            </nav>
                            
                        </div>
                    </div>
                <%}%>
    
    
            </div>
            
    
        </div>    

    </div>
    
</body>


<%- include('partials/footer.ejs') %>