<%- include('partials/head.ejs') %>

    <%
        function capitalizeFirstLetterOfWords(str) {
            return str
                .split(' ') // Divide a string em palavras
                .map(word => word.charAt(0).toUpperCase() + word.slice(1)) // Converte a primeira letra em maiúscula
                .join(' '); // Junta as palavras de volta em uma string
        }
    %>

<body>

    <div class="wrapper">

        <div class="container">

            <div class="card mt-2">
                
                <div class="card-header">
                    Tickets
                </div>
                
                <div class="card-header">
                
                    <div class="d-flex flex-column flex-sm-row">
                        <div class="d-flex flex-column flex-sm-row mb-3">
                            <!-- Botões em uma linha em telas pequenas -->
                            <div class="">
                                <% if(infoGrupo.inserir === 1){%>
                                    <a href="/inserir_ticket"><button class="btn btn-primary rounded-pill botao_inserir" id="botao_inserir"><i class="fas fa-plus-circle"></i> Inserir</button></a>
                                <%}%>
                                <a href="/admin" class="mt-3"><div class="btn btn-secondary rounded-pill"><i class="fas fa-arrow-left"></i> Voltar</div></a>
                    
                                <!-- Botão filtro com ícone -->
                                <div onclick="carregarFiltros()" class="btn btn-outline-secondary rounded-pill mr-4">
                                    <i class="fas fa-filter"></i> <!-- Ícone de filtro adicionado -->
                                </div>
                            </div>
                        </div>
                    
                        <!-- Formulário de busca -->
                        <div id="2" class="d-flex flex-column flex-sm-row">
                            <form id="formulariofiltro" action="/listar_tickets" method="GET" class="w-100">
                                <div class="input-group mb-3">
                                    <input type="text" name="search" class="form-control rounded-pill" placeholder="Pesquisar..." aria-label="Pesquisar">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn custom-btn">
                                            <i class="fas fa-search custom-icon"></i> <!-- Ícone de lupa maior -->
                                        </button>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                    
                        <!-- Filtros (Instalação, Ordenar por) -->
                            <div class="ml-4 mt-4" id="DivFiltros" style="display: none;">

                                <!-- Ordenar por -->
                                <div class="ml-3">
                                    <span>Ordenar por</span>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" checked type="radio" name="ordenar" id="ordenar_a_z" value="a_z" <%if(ordenar === 'a_z'){%>checked<%}%>></div>
                                        <label class="form-check-label" for="ordenar_a_z">A-Z</label>
                                    </div>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="ordenar" id="ordenar_z_a" value="z_a" <%if(ordenar === 'z_a'){%>checked<%}%>></div>
                                        <label class="form-check-label" for="ordenar_z_a">Z-A</label>
                                    </div>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="ordenar" id="ordenar_mais_recente" value="mais_recente" <%if(ordenar === 'mais_recente'){%>checked<%}%>></div>
                                        <label class="form-check-label" for="ordenar_mais_recente">Mais recente</label>
                                    </div>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="ordenar" id="ordenar_menos_recente" value="menos_recente" <%if(ordenar === 'menos_recente'){%>checked<%}%>></div>
                                        <label class="form-check-label" for="ordenar_menos_recente">Menos recente</label>
                                    </div>
                                </div>

                                <!-- Linha separadora vertical -->
                                <div class="vr mx-2"></div>

                                <div class="ml-3">
                                    <span>Tipo de Ticket</span>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="TipoTicketFiltro" value="" <%if(TipoTicketFiltro == ''){%>checked<%}%>></div>
                                        <label class="form-check-label" for="Todos">Todos</label>
                                    </div>
                                    <% tipos.forEach((tipo) => {%>
                                        <div class="form-check">
                                            <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="TipoTicketFiltro" value="<%=tipo.id%>" <%if(TipoTicketFiltro == tipo.id){%>checked<%}%>></div>
                                            <label class="form-check-label" for="<%=tipo.tipo_ticket%>"><%=capitalizeFirstLetterOfWords(tipo.tipo_ticket)%></label>
                                        </div>
                                    <%})%>
                                </div>

                                <!-- Linha separadora vertical -->
                                <div class="vr mx-2"></div>

                                <div class="ml-3">
                                    <span>Prioridade</span>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="PrioridadeFiltro" value="" <%if(PrioridadeFiltro == ''){%>checked<%}%>></div>
                                        <label class="form-check-label" for="Todos">Todos</label>
                                    </div>
                                    <% prioridades.forEach((prioridade) => {%>
                                        <div class="form-check">
                                            <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="PrioridadeFiltro" value="<%=prioridade.id%>" <%if(PrioridadeFiltro == prioridade.id){%>checked<%}%>></div>
                                            <label class="form-check-label" for="<%=prioridade.prioridade%>"><%=capitalizeFirstLetterOfWords(prioridade.prioridade)%></label>
                                        </div>
                                    <%})%>
                                </div>

                                 <!-- Linha separadora vertical -->
                                 <div class="vr mx-2"></div>
                                
                                <div class="ml-3">
                                    <span>Status do Ticket</span>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" checked type="radio" name="statusFiltro" value="" <%if(statusFiltro != 'aguardando'){%>checked<%}%>></div>
                                        <label class="form-check-label" for="">Todos</label>
                                    </div>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="statusFiltro" value="aguardando" <%if(statusFiltro.trim() == 'aguardando'){%>checked<%}%>></div>
                                        <label class="form-check-label" for="aguardando">Aguardando</label>
                                    </div>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="statusFiltro" value="execucao" <%if(statusFiltro === 'execucao'){%>checked<%}%>></div>
                                        <label class="form-check-label" for="execucao">Execução</label>
                                    </div>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="statusFiltro" value="pausado" <%if(statusFiltro === 'pausado'){%>checked<%}%>></div>
                                        <label class="form-check-label" for="pausado">Pausado</label>
                                    </div>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="statusFiltro" value="conferencia" <%if(statusFiltro === 'conferencia'){%>checked<%}%>></div>
                                        <label class="form-check-label" for="conferencia">Confêrencia</label>
                                    </div>
                                    <div class="form-check">
                                        <div onclick="filtro()"><input class="form-check-input custom-radio checkFiltros" type="radio" name="statusFiltro" value="finalizado" <%if(statusFiltro === 'finalizado'){%>checked<%}%>></div>
                                        <label class="form-check-label" for="finalizado">Finalizado</label>
                                    </div>

                                </div>
                            </div>
                            
                        </form>
                    
                </div>
    
                <div class="card-body">
    
                  <div class="container">

                    <% tickets.forEach((ticket) => { %>

                        <div class="ticket-card mb-3" onclick="carregaBtns('<%=ticket.id%>')">
                            <div class="ticket-header d-flex justify-content-between align-items-center">
                                <span class="ticket-id">
                                    <% 
                                        var entidadeOk = ''
                                        var tipoEntidadeOK = ''
                                        var entidade = entidades.find(entidade => entidade.id === ticket.id_entidade);
                                        if (entidade){
                                            entidadeOk = entidade.cidade.toUpperCase() + '/' + entidade.estado.toUpperCase()
                                            var tipo_entidade = tipos_entidade.find(tipo_entidade => tipo_entidade.id === entidade.tipo_entidade)
                                            if (tipo_entidade){
                                                tipoEntidadeOK = tipo_entidade.tipo_entidade.toUpperCase()
                                            }
                                        }
                                        
                                        
                                    %>
                                   <%=tipoEntidadeOK%> DE <%= entidadeOk %> #<%= ticket.id %>00<%=ticket.id_entidade%>
                                </span>
                                <span class="ticket-date text-muted">
                                    <%= new Date(ticket.createdAt).toLocaleString('pt-BR', { 
                                        day: '2-digit', 
                                        month: '2-digit', 
                                        year: 'numeric'
                                    })%>
                                </span>
                            </div>

                            
                            <div class="ticket-details mt-2">
                                <% 
                                    var prioridadeOk = ''
                                    var prioridade = prioridades.find(prioridade => prioridade.id === ticket.id_prioridade)
                                    if(prioridade){
                                        prioridadeOk = prioridade.prioridade
                                    }
                                %>
                                <span class="ticket-prioridade d-block">Prioridade: <%=prioridadeOk.toUpperCase() %></span>

                                <%
                                    var tipoTicketOk = ''
                                    var tipoTicket = tipos.find(tipoTicket => tipoTicket.id === ticket.id_tipo)
                                    if(tipoTicket){
                                        tipoTicketOk = tipoTicket.tipo_ticket
                                    }
                                %>
                                <span class="ticket-tipo d-block">Tipo: <%= tipoTicketOk.toUpperCase() %></span>
                            </div>
                            
                            <div class="ticket-details mt-2">
                                <span class="ticket-assunto d-block text-uppercase"><strong>Assunto:</strong> <%= ticket.assunto %></span>
                                <span class="ticket-status-geral d-block"><strong>Status:</strong> <%= ticket.status_geral.toUpperCase() %></span>
                            </div>

                            <div style="display: none;" id="botoes-<%=ticket.id%>" class="mt-2">
                                <form action="/deletar_ticket" method="post" class="flex" id="formDelete">
                                    <% if(infoGrupo.alterar === 1){%>
                                        <a href="/alterar_ticket/<%=ticket.id%>"><div style="display: inline-block;" class="btn btn-warning btn-sm botao_alterar">
                                            <i class="fas fa-edit"></i> Alterar
                                        </div></a>
                                    <%}else {%>
                                        <div style="display: none;" class="btn btn-warning btn-sm botao_alterar">Alterar</div>
                                    <%}%>
                                    <a target="_blank" href="/ticket/<%=ticket.id%>"><div style="display: inline-block;" class="btn btn-dark btn-sm botao_visualizar">
                                        <i class="fas fa-eye"></i> Visualizar
                                     </div></a>
        
                                    <input style="display: none;" type="hidden" name="id" value="<%=ticket.id%>"></input>
                                </form> 
                                
                            </div>
                        </div>

                        
                      
                    <% }); %>
                  </div>
                  
    
                </div>
                <% if(totalPages > 0){%>
                    <div class="card-footer">
    
                        <div class="d-flex justify-content-center w-100">
                            <nav aria-label="Page navigation">
                                <ul class="pagination mx-auto">
                                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                        <a class="page-link" href="/listar_tickets?page=<%= currentPage - 1 %>">Anterior</a>
                                    </li>
                                    
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                            <a class="page-link" href="/listar_tickets?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>
                            
                                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                        <a class="page-link" href="/listar_tickets?page=<%= currentPage + 1 %>">Próximo</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    
                    </div>
                <%}%>
            </div>
            
            <input style="display: none;" type="hidden" name="idEntidade" value="4"></input>
        </div>    

    </div>
    
</body>

<%- include('partials/footer.ejs') %>