<%- include('partials/head.ejs') %>

<body>

    <div class="wrapper">

        <div class="container">



            <div class="card mt-2">
                
                <div class="card-header">
                    Entidades
                </div>
                
                <div class="card-header">
                    <% if(infoGrupo.inserir === 1){%>
                        <a href="/inserir_entidades"><button class="btn btn-primary botao_inserir" id="botao_inserir">Inserir</button></a>
                    <%}%>
                    <a href="/admin"><div class="btn btn-secondary">Voltar</div></a>
                </div>
    
    
                <div class="card-body">
    
                    <div class="container">
                        <% entidades.forEach((entidade) => { %>
                            
                          <div class="border-bottom py-2">
                            <div class="row align-items-center">
                              <div class="col-12 col-md"><strong><%= entidade.cidade.toUpperCase() %> / <%= entidade.estado.toUpperCase() %></strong></div>
                              <div class="col-12 col-md"><strong>Tipo:</strong> <%= tipos.find(tipo => tipo.id === entidade.tipo_entidade)?.tipo_entidade || 'N/A' %></div>
                              <div class="col-12 col-md"><strong>Versão:</strong> <%= versoes.find(versao => versao.id === entidade.versao_sistema)?.versao || 'N/A' %></div>
                              <div class="col-auto ms-auto">
                                
                                    <button class="btn btn-info btn-sm" onclick="carregaBtns('<%=entidade.id%>')" id="botaomais" >
                                        <i class="fas fa-plus"></i> <!-- Ícone de "+" -->
                                    </button>
                                
                              </div>
                            </div>
                          
                            <div style="display: none;" id="botoes-<%=entidade.id%>" class="mt-2">
                              <form action="/deletar_entidade" method="post" class="flex">
                                  <% if(infoGrupo.alterar === 1){%>
                                      <a href="alterar_entidades/<%=entidade.id%>"><div style="display: inline-block;" class="btn btn-warning btn-sm botao_alterar">
                                        <i class="fas fa-edit"></i> Alterar
                                      </div></a>
                                  <%}%>
    
                                  <% if(infoGrupo.deletar === 1){%>
                                        <div style="display: inline-block;" class="btn btn-danger btn-sm botao_deletar" onclick="deletar('<%=entidade.id%>')" >
                                            <i class="fas fa-trash-alt"></i> Deletar
                                        </div>
                                 <%}%>

                                 <div style="display: inline-block;" class="btn btn-warning btn-sm botao_visualizar">
                                    <i class="fas fa-eye"></i> Visualizar
                                 </div>
                                 

                                  <input style="display: none;" type="hidden" name="id" value="<%=entidade.id%>"></input>
                              </form> 
                              
                            </div>
    
                          </div>
                        <% }); %>
                      </div>
                      
                     
                </div>
    
                <% if(totalPages > 0){%>
                    <div class="card-footer">
    
                        <div class="d-flex justify-content-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                        <a class="page-link" href="/listar_entidades?page=<%= currentPage - 1 %>">Anterior</a>
                                    </li>
                                    
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                            <a class="page-link" href="/listar_entidades?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>
                            
                                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                        <a class="page-link" href="/listar_entidades?page=<%= currentPage + 1 %>">Próximo</a>
                                    </li>
                                </ul>
                            </nav>
                            
                        </div>
                    </div>
                <%}%>
    
            </div>
            
    
        </div>    

    </div>
    
</body>


<%- include('partials/footer.ejs') %>