<%- include('partials/head.ejs') %>

<body>
    <div class="container">



        <div class="card mt-2">
            
            <div class="card-header">
                Grupos de Usúario
            </div>
            
            <div class="card-header">
                <a href="/inserir_grupos_de_usuarios"><button class="btn btn-primary">Inserir</button></a>
                <a href="/admin"><div class="btn btn-secondary">Voltar</div></a>
            </div>

            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Grupo</th>
                        <th scope="col">Inserir</th>
                        <th scope="col">Alterar</th>
                        <th scope="col">Excluir</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% grupos.forEach((grupo) =>{%>
                            <tr>
                              <td> <%= grupo.grupo %></td>
                              <td> <%= grupo.inserir  === 1 ? 'Sim' : 'Não'%></td>
                              <td> <%= grupo.alterar  === 1 ? 'Sim' : 'Não'%></td>                              
                              <td> <%= grupo.deletar  === 1 ? 'Sim' : 'Não'%></td>                              
                            </tr>
                        <%})%>
                    </tbody>
                  </table>

            </div>


        </div>
        

    </div>    
</body>


<%- include('partials/footer.ejs') %>