<%- include('partials/head.ejs') %>

<body>
    <div class="container">



        <div class="card mt-2">
            
            <div class="card-header">
                Setores da empresa
            </div>
            
            <div class="card-header">
                <a href="/inserir_setor"><button class="btn btn-primary">Inserir</button></a>
                <a href="/admin"><div class="btn btn-secondary">Voltar</div></a>
            </div>

            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Setor</th>
                        <th scope="col">Sigla</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        <% setores.forEach((setor) => { %>
                          <tr>
                            <td> <%=setor.id %></td>
                            <td><%=setor.setor.toUpperCase() %></td>
                            <td><%=setor.sigla.toUpperCase() %></td>
                          </tr>
                        <%})%>
                     
                    </tbody>
                  </table>

            </div>


        </div>
        

    </div>    
</body>

<%- include('partials/footer.ejs') %>