<%- include('partials/head.ejs') %>


<body>
    <div class="container">



        <div class="card mt-2">
            
            <div class="card-header">
                Concorrentes
            </div>
            
            <div class="card-header">
                <a href="/inserir_concorrentes"><button class="btn btn-primary botao_inserir" id="botao_inserir" >Inserir</button></a>
                <a href="/admin"><div class="btn btn-secondary">Voltar</div></a>
            </div>

            <div id="valor_inserir" style="display: none;"><%= inserir %></div>
            <div id="valor_deletar" style="display: none;"><%= deletar %></div>
            <div id="valor_alterar" style="display: none;"><%= alterar %></div>
            

            <div class="card-body">

                <div class="container">
                    <% concorrentes.forEach((concorrente) => { %>
                      <div class="border-bottom py-2">
                        <div class="row align-items-center">
                          <div class="col d-flex justify-content-between align-items-center">
                              <span><%= concorrente.nome.toUpperCase() %></span>
                              <% if(deletar === 1 || alterar === 1){ %>
                                <button class="btn btn-info btn-sm" onclick="carregaBtns('<%=concorrente.id%>')" id="botaomais" >
                                    <i class="fas fa-plus">+</i> <!-- Ícone de "+" -->
                                </button>
                            <%}%>
                          </div>
                        </div>
                          <div style="display: none;" id="botoes-<%=concorrente.id%>" class="mt-2">
                            <form action="/deletar_concorrente" method="post" class="flex">
                                <% if(alterar === 1){%>
                                    <div style="display: inline-block;" class="btn btn-warning btn-sm botao_alterar" onclick="alterarConcorrente('<%=concorrente.id%>', '<%=concorrente.nome%>')">Alterar</div>
                                <%}else {%>
                                    <div style="display: none;" class="btn btn-warning btn-sm botao_alterar">Alterar</div>
                                <%}%>
  
                                <% if(deletar === 1){%>
                                
                                        <div style="display: inline-block;" class="btn btn-danger btn-sm botao_deletar" onclick="deletar('<%=concorrente.id%>')">Deletar</div>
                                        
                                                                
                                <%}else {%>
                                    <div style="display: none;" class="btn btn-danger btn-sm botao_deletar" name="botao_deletar">Deletar</div>
                                <%}%>
                                <input style="display: none;" type="hidden" name="id" value="<%=concorrente.id%>"></input>
                            </form> 
                            
                          </div>

                        
                      </div>
                    <% }); %>
                  </div>
                  

            </div>

            <% if(totalPages > 0){%>
                <div class="card-footer">

                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                    <a class="page-link" href="/listar_concorrentes?page=<%= currentPage - 1 %>">Anterior</a>
                                </li>
                                
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <a class="page-link" href="/listar_concorrentes?page=<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>
                        
                                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                    <a class="page-link" href="/listar_concorrentes?page=<%= currentPage + 1 %>">Próximo</a>
                                </li>
                            </ul>
                        </nav>
                        
                    </div>
                </div>
            <%}%>

        </div>
        

    </div>    
</body>


<%- include('partials/footer.ejs') %>