<%- include('partials/headPublic.ejs') %>

<body>
    <div class="wrapper">
        <div class="container mt-5">
            <h4>
             <%=tipo_entidade.tipo_entidade.toUpperCase()%> DE <%=entidade.cidade.toUpperCase()%>/<%=entidade.estado.toUpperCase()%> (#<%=ticket.id%>00<%=ticket.id_entidade%>)
            </h4>
            <hr>
            <div class="d-flex mb-5">
                <div class="btn-secao" id="sobreBtn">Ticket</div>
                <div class="btn-secao ml-4" id="ticketsBtn">Pausas</div>
            </div>
            
            <div class="container mt-5">
                <div class="card shadow-lg" style="display: none;" id="CardSobre">
                    <div class="card-header">
                        <h5 class="mb-0">Detalhes do Ticket</h5>
                    </div>
                    <div class="card-body">

                    
                        <!-- Informações Principais -->
                        <div class="row">
                            <!-- Data de Criação -->
                            <div class="col-md-4 mb-3">
                                <div class="info-card">
                                    <h5><i class="fas fa-calendar-check"></i> Data de Criação</h5>
                                    <p>
                                        <%= 
                                            new Date(ticket.createdAt).toLocaleString('pt-BR')
                                        %>
                                    </p>
                                </div>
                            </div>
                            
                            <!-- Data de Início -->
                            <div class="col-md-4 mb-3">
                                <div class="info-card">
                                    <h5><i class="fas fa-clock"></i> Data de Início</h5>
                                    <p>
                                        <% if(ticket.dt_inicio_ticket != '0001-01-01'){%>
                                                <%=new Date(ticket.dt_inicio_ticket).toLocaleString('pt-BR', { 
                                                    day: '2-digit', 
                                                    month: '2-digit', 
                                                    year: 'numeric'    
                                                })%>
                                        <%}else {%>
                                            Esse ticket ainda não foi iniciado.
                                        <%}%>
                                        
                                    </p>
                                </div>
                            </div>
                            
                            <!-- Data de Previsão -->
                            <div class="col-md-4 mb-3">
                                <div class="info-card">
                                    <h5><i class="fas fa-calendar-alt"></i> Data de Previsão</h5>
                                    <p>
                                        <% if(ticket.dt_previsao != '0001-01-01'){%>
                                                <%=new Date(ticket.dt_previsao).toLocaleString('pt-BR', { 
                                                    day: '2-digit', 
                                                    month: '2-digit', 
                                                    year: 'numeric'    
                                                })%>
                                        <%}else {%>
                                            Ainda não foi definido uma data de previsão.
                                        <%}%>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Outras Informações -->
                        <div class="row">
                            <!-- Tipo do Ticket -->
                            <div class="col-md-4 mb-3">
                                <div class="info-card">
                                    <h5><i class="fas fa-tag"></i> Tipo do Ticket</h5>
                                    <span class="badge bg-info text-white"><%= tipo.tipo_ticket.toUpperCase() %></span>
                                </div>
                            </div>
                    
                            <!-- Prioridade -->
                            <div class="col-md-4 mb-3">
                                <div class="info-card">
                                    <h5><i class="fas fa-exclamation-circle"></i> Prioridade</h5>
                                    <span class="badge bg-danger text-white"><%= prioridade.prioridade.toUpperCase() %></span>
                                </div>
                            </div>
                    
                            <!-- Status Geral -->
                            <div class="col-md-4 mb-3">
                                <div class="info-card">
                                    <h5><i class="fas fa-check-circle"></i> Status Geral</h5>
                                    <span class="badge bg-primary text-white"><%= ticket.status_geral.toUpperCase() %></span>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Responsáveis e Auxiliares -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="info-card">
                                    <h5><i class="fas fa-user"></i> Responsável</h5>
                                    <p class="text-uppercase">
                                        <% 
                                            var responsavelOk = ''
                                            var usuario = usuarios.find(usuario => usuario.id == ticket.responsavel)
                                            if(usuario){
                                                responsavelOk = usuario.nome.toUpperCase()
                                            }
                                        %>
                                        <%if(responsavelOk != ''){%>
                                        <%= responsavelOk %>
                                        <%} else {%>
                                            Ainda não foi definido um responsável
                                        <%}%>
                                    </p>
                                </div>
                            </div>
                    
                            <% if(ticket.auxiliares != ''){%>
                                <div class="col-md-6 mb-3">
                                    <div class="info-card">
                                        <h5><i class="fas fa-users"></i> Auxiliares</h5>
                                        <p class="text-uppercase">
                                            <% 
                                                var auxiliaresOk = []
                                                var auxiliar_split = ticket.auxiliares.split(',')
                        
                                                for(let i = 0; i < auxiliar_split.length; i++){
                                                    var usuario = usuarios.find(usuario => auxiliar_split[i] == usuario.id)
                                                    if(usuario){
                                                        auxiliaresOk.push(usuario.nome)
                                                    }
                                                }
                                            %>
                                            <%= auxiliaresOk.join(', ') %>
                                        </p>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                    
                        <!-- Assunto -->
                        <div class="mb-3">
                            <div class="info-card">
                                <h5><i class="fas fa-comment-dots"></i> Assunto</h5>
                                <p class="text-uppercase"><%= ticket.assunto %></p>

                                <h5><i class="fas fa-info-circle"></i> Descrição</h5>
                                <p class="text-uppercase"><%= ticket.descricao %></p>
                            </div>
                        </div>

                        <%if(ticket.observacao != ''){%>
                            <!-- Observações -->
                            <div class="mt-4">
                                <h5><i class="fas fa-sticky-note"></i> Observações</h5>
                                <div class="card bg-light p-3">
                                    <%= ticket.observacao %>
                                </div>
                            </div>
                        <%}%>
                    </div>
                    
                    
            </div>
              
            
            <div class="card" id="ticketsCard" style="display: none;">
                <div class="card-header">Pausas</div>
                <div class="card-body">
                    <% 
                        const pausasPorPagina = 5;
            
                        // Calcular o contador inicial com base na página atual
                        var contadorPausa = (currentPage - 1) * pausasPorPagina + 1; 

                        if(pausas.length < 1){%>
                            <div class="pausa-detalhes mt-2">
                                <span><strong>Este ticket ainda não possui pausa.</strong></span><br>
                                <span class="text-muted data-pausa">
                                    <%= new Date().toLocaleString('pt-BR', { 
                                        day: '2-digit', 
                                        month: '2-digit', 
                                        year: 'numeric', 
                                        hour: '2-digit', 
                                        minute: '2-digit' 
                                    }) %>
                                </span>
                        <%}%>

                    
                    <% pausas.forEach((pausa) => { %>
                        <div class="ticket-card mb-3">
                            <div class="ticket-header d-flex justify-content-between align-items-center">
                                <span class="ticket-id">
                                    Pausa Nº <%= contadorPausa %>
                                </span>
                            </div>
                            <div class="pausa-detalhes mt-2">
                                <span><strong>Motivo Entrada Pausa:</strong> <%= pausa.motivo_pausa.toUpperCase() %></span><br>
                                <span class="text-muted data-pausa">
                                    <%= new Date(pausa.createdAt).toLocaleString('pt-BR', { 
                                        day: '2-digit', 
                                        month: '2-digit', 
                                        year: 'numeric', 
                                        hour: '2-digit', 
                                        minute: '2-digit' 
                                    }) %>
                                </span>
                            </div>
            

                            <% if(pausa.motivo_retirada_pausa.trim() != '') { %>
                                <div class="pausa-detalhes mt-2">
                                    <span><strong>Motivo Retirada Pausa:</strong> <%= pausa.motivo_retirada_pausa.toUpperCase() %></span><br>
                                    <span class="text-muted data-pausa">
                                        <%= new Date(pausa.updatedAt).toLocaleString('pt-BR', { 
                                            day: '2-digit', 
                                            month: '2-digit', 
                                            year: 'numeric', 
                                            hour: '2-digit', 
                                            minute: '2-digit' 
                                        }) %>
                                    </span>
                                    </div>
                            <% } %>
                                
                        </div>
                        <% contadorPausa++ %>
                    <% }) %>
                </div>
            
                <% if(totalPages > 0) { %>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                        <a class="page-link" href="?page=<%= currentPage - 1 %>">Anterior</a>
                                    </li>
                                    
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>
                                    
                                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                        <a class="page-link" href="?page=<%= currentPage + 1 %>">Próximo</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                <% } %>
            </div>
            

        </div>
        
        <br>
    </div>

</body>
<script src="/js/javascript.js"></script>
</html>