<%- include('partials/headPublic.ejs') %>

<%
    function capitalizeFirstLetterOfWords(str) {
        return str
            .split(' ') // Divide a string em palavras
            .map(word => word.charAt(0).toUpperCase() + word.slice(1)) // Converte a primeira letra em maiúscula
            .join(' '); // Junta as palavras de volta em uma string
    }
%>

<body>
    <div class="wrapper">
        <div class="container-fluid mt-4">

            <!-- Linha com os filtros e conteúdo -->
            <div class="row">

                
                    <div class="d-flex w-100 d-md-none ml-2 mr-2">
                        <!-- Botão de Toggler para telas pequenas -->
                        <button class="btn btn-outline-primary d-flex justify-content-between mr-1" type="button" data-toggle="collapse" data-target="#filtrosCollapse" aria-expanded="false" aria-controls="filtrosCollapse">
                            <span><i class="fas fa-filter"></i> Filtros</span> 
                            
                        </button>
                        <form action="">
                            <div class="input-group">
                                <input class="form-control rounded-pill" type="search" name="search" id="">
                                <div class="input-group-append">
                                    <button type="submit" class="btn custom-btn">
                                        <i class="fas fa-search custom-icon"></i> <!-- Ícone de lupa maior -->
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <!-- Filtro à esquerda (mais fino) -->
                    <div class="col-md-2">

                        <form action="/tickets" method="GET">  
                            <!-- Filtros que vão ficar ocultos em telas pequenas -->
                            <div class="filtros-lateral collapse d-md-block mb-2 mt-3" id="filtrosCollapse">
                                <div class="TituloFiltros mb-3">Filtros</div>
                        
                                <details class="DetalhesFiltro mb-3" open>
                                    <summary class="TituloDetalhes">Status Geral</summary>
                                    <div class="OpcaoFiltro ml-3">
                                        <input type="checkbox" name="status_geral" value="aguardando" <%if(st == 'aguardando'){%>checked<%}%>>
                                        <label for="status_geral">Aguardando</label>
                                    </div>
                                    <div class="OpcaoFiltro ml-3">
                                        <input type="checkbox" name="status_geral" value="execucao" <%if(st == 'execucao'){%>checked<%}%>>
                                        <label for="status_geral">Execução</label>
                                    </div>
                                    <div class="OpcaoFiltro ml-3">
                                        <input type="checkbox" name="status_geral" value="pausado" <%if(st == 'pausado'){%>checked<%}%>>
                                        <label for="status_geral">Pausado</label>
                                    </div>
                                    <div class="OpcaoFiltro ml-3">
                                        <input type="checkbox" name="status_geral" value="conferencia" <%if(st == 'conferencia'){%>checked<%}%>>
                                        <label for="status_geral">Conferência</label>
                                    </div>
                                    <div class="OpcaoFiltro ml-3">
                                        <input type="checkbox" name="status_geral" value="finalizado" <%if(st == 'finalizado'){%>checked<%}%>>
                                        <label for="status_geral">Finalizado</label>
                                    </div>
                                    <div class="OpcaoFiltro ml-3">
                                        <input type="checkbox" name="status_geral" value="" <%if(st == '' || st == undefined){%>checked<%}%>>
                                        <label for="status_geral">Todos</label>
                                    </div>
                                </details>
                                
                        
                                <details class="DetalhesFiltro mb-3" open>
                                    <summary class="TituloDetalhes">Prioridade</summary>
                                    <% prioridades.forEach((prioridade) => {%>
                                        <div class="OpcaoFiltro ml-3">
                                            <input type="checkbox" 
                                                id="<%=prioridade.prioridade%>" 
                                                name="prioridade" 
                                                value="<%=prioridade.id%>"
                                                <% if (p && p.includes(prioridade.id.toString())) { %> checked <% } %>>
                                            <label for="<%=prioridade.prioridade%>"><%=capitalizeFirstLetterOfWords(prioridade.prioridade)%></label>
                                        </div>
                                    <%})%>
                                    <div class="OpcaoFiltro ml-3">
                                        <input type="checkbox" id="todos" name="prioridade" value="" <%if(p == '' || p == undefined){%>checked<%}%>>
                                        <label for="todos">Todos</label>
                                    </div>
                                </details>

                                <details class="DetalhesFiltro mb-3" open>
                                    <summary class="TituloDetalhes">Tipo do ticket</summary>
                                    <% tipos_ticket.forEach((tipo_ticket) => {%>
                                        <div class="OpcaoFiltro ml-3">
                                            <input type="checkbox" 
                                                id="<%=tipo_ticket.prioridade%>" 
                                                name="tipo_ticket" 
                                                value="<%=tipo_ticket.id%>"
                                                <% if (tt && tt.includes(tipo_ticket.id.toString())) { %> checked <% } %>>
                                            <label for="<%=tipo_ticket.tipo_ticket%>"><%=capitalizeFirstLetterOfWords(tipo_ticket.tipo_ticket)%></label>
                                        </div>
                                    <%})%>
                                    <div class="OpcaoFiltro ml-3">
                                        <input type="checkbox" id="todos" name="tipo_ticket" value="" <%if(tt == '' || tt == undefined){%>checked<%}%>>
                                        <label for="todos">Todos</label>
                                    </div>
                                </details>
                                
                                <details class="DetalhesFiltro mb-3" open>
                                    <summary class="TituloDetalhes">Data de criação</summary>
                                    <div class="d-flex flex-wrap align-items-center ml-3 mb-3">
                                        <div class="d-flex align-items-center mr-4 mb-2">
                                            <label for="data_inicial" class="mr-2 mb-0">De:</label>
                                            <input class="form-control" 
                                                type="date" 
                                                name="data_inicial" 
                                                id="data_inicia"
                                                <%if (dt_i != undefined && dt_i != ''){%> value="<%=dt_i%>" <%}%>>
                                        </div>
                                        <div class="d-flex align-items-center mr-4 mb-3">
                                            <label for="data_final" class="mr-2 mb-0">Até:</label>
                                            <input class="form-control" 
                                                type="date" 
                                                name="data_final" 
                                                id="data_final"
                                                <%if (dt_f != undefined && dt_f != ''){%> value="<%=dt_f%>" <%}%>>
                                        </div>
                                    </div>
                                </details>
                                
                        
                                <!-- Botão de Filtrar -->
                                <button id="BtnAplicaFiltro" class="btn btn-primary btn-sm btn-block">Filtrar</button>
                                <a class="SemLink" href="/tickets"><div id="BtnLimpaFiltros" class="btn btn-secondary btn-sm btn-block mt-1">Limpar Filtros</div></a>
                            </div>
                        </form>
                    </div>
                

                <!-- Conteúdo das Entidades à direita -->
                <div class="col-md-9">
                    <form action="/tickets" method="GET">
                    <!-- Filtro centralizado (já existente) -->
                        <div class="filtros d-flex align-items-center mb-4">
                            <div class="ordenar align-items-center mr-4 w-auto d-md-flex"> <!-- Esconde em telas menores -->
                                <span class="mr-2 TituloFiltros">Ordenar:</span>
                                <select class="form-control form-control SelectOrdenacao" name="ordenar" onchange="this.form.submit()">
                                    <option value="mais_recente" <% if (o === 'mais_recente') { %>selected<% } %>>Mais recente</option>
                                    <option value="menos_recente" <% if (o === 'menos_recente') { %>selected<% } %>>Menos recente</option>
                                    <option value="a_z" <% if (o === 'a_z') { %>selected<% } %>>A-Z</option>
                                    <option value="z_a" <% if (o === 'z_a') { %>selected<% } %>>Z-A</option>
                                </select>
                            </div>
                        
                            <div class="quantidade align-items-center mr-4 w-auto d-md-flex"> <!-- Esconde em telas menores -->
                                <span class="mr-2 TituloFiltros">Exibir:</span>
                                <select class="form-control form-control w-auto SelectOrdenacao" name="exibir" onchange="this.form.submit()">
                                    <option value="10" <% if (e == '10') { %>selected<% } %>>10</option>
                                    <option value="20" <% if (e == '20') { %>selected<% } %>>20</option>
                                    <option value="40" <% if (e == '40') { %>selected<% } %>>40</option>
                                </select>
                            </div>
                        </form>

                        <div class="d-block align-items-center">
                            <form id="formulariofiltro" action="/tickets" method="GET">
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control rounded-pill" placeholder="Pesquisar..." aria-label="Pesquisar">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn custom-btn">
                                            <i class="fas fa-search custom-icon"></i> <!-- Ícone de lupa maior -->
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Tickets -->
                    <div class="cabecalhoLista row mb-3 ml-1 mr-1">
                        <div class="fa fa-list lista"></div>
                        <div class="ml-2 titulo-entidades">Tickets</div>
                    </div>

                    <% tickets.forEach((ticket) => { %>
                        
                        
                            <div class="ticket-card mb-3 ml-3 mr-3">
                                <a class="SemLink" href="/ticket/<%=ticket.id%>">
                                    <div class="ticket-header d-flex justify-content-between align-items-center">
                                        <%
                                            var tipoOk = ''
                                            var entidadeOk = ''
                                            var entidade = entidades.find(entidade => entidade.id === ticket.id_entidade)
                                            if(entidade){
                                                entidadeOk = entidade.cidade.toUpperCase() + '/' + entidade.estado.toUpperCase()

                                                var tipo = tipos.find(tipo => tipo.id === entidade.tipo_entidade)
                                                if(tipo){
                                                    tipoOk = tipo.tipo_entidade.toUpperCase()
                                                }
                                            }
                                        %>  

                                        <span class="ticket-id">
                                        <%=tipoOk%> DE <%=entidadeOk%> (#<%=ticket.id%>00<%=ticket.id_entidade%>)
                                        </span>
                                        <span class="ticket-date text-muted">
                                            <%= new Date(ticket.createdAt).toLocaleString('pt-BR', { 
                                                day: '2-digit', 
                                                month: '2-digit', 
                                                year: 'numeric'
                                            })%>
                                        </span>
                                    </div>

                                    <div class="ticket-details mt-2">
                                        <% 
                                            var prioridaeOK = ''
                                            var prioridade = prioridades.find(prioridade => prioridade.id === ticket.id_prioridade)
                                            if(prioridade){
                                                prioridaeOK = prioridade.prioridade.toUpperCase()
                                            }
                                        %>
                                        <span class="ticket-prioridade d-block">Prioridade: <%=prioridaeOK %></span>
                                        <%
                                        var tipoTicketOk = ''
                                        var tipoTicket = tipos_ticket.find(tipoTicket => tipoTicket.id === ticket.id_tipo)
                                        if(tipoTicket){
                                            tipoTicketOk = tipoTicket.tipo_ticket.toUpperCase()
                                        }
                                        %>
                                        <span class="ticket-tipo d-block">Tipo: <%= tipoTicketOk%></span>
                                    </div>

                                    <div class="ticket-details mt-2">
                                        <span class="ticket-assunto d-block text-uppercase"><strong>Assunto:</strong> <%= ticket.assunto %></span>
                                        <span class="ticket-status-geral d-block"><strong>Status:</strong> <%= ticket.status_geral.toUpperCase() %></span>
                                    </div>
                                    
                                </a>
                            </div>
                    <% }); %>

                    <% if(totalPages > 0){%>
                        <div class="d-flex justify-content-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                        <a class="page-link" href="?page=<%= currentPage - 1 %>">Anterior</a>
                                    </li>

                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>

                                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                        <a class="page-link" href="?page=<%= currentPage + 1 %>">Próximo</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    <% } %>
                </div>
            </div> <!-- End Row -->
        </div>
        <br>
    </div>
</body>

<%- include('partials/footerPublic.ejs')%>