<%- include('../../partials/head.ejs') %>

<body>

    <div class="wrapper">

        <div class="container">
            <div tabindex="-1" id="alertaerro" role="alert" style="display: none;">
                
            </div>
            <form action="/admin/salvar_usuarios" class="form-control" method="post" onsubmit="cadastrarUsuario(); return false;">
                
                <div class="card">
                
                    <div class="card-header">
                        Insira o Usuário
                    </div>
    
                    <div class="card-body">
                        <label for="gruposusuario"><strong>Nome:</strong></label>
                        <input type="text" name="nome" class="form-control form-control-lg inputs" placeholder="Digite o nome"><br>
                        <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>

    
                        <label for="setor"><strong>Setor:</strong></label>
                        <select class="form-control form-control-lg inputs camposBuscaPesquisa" name="setor">
                            <option value="" disabled selected="true">Selecione o Setor</option>
                            <% setores.forEach((setor) => { %>
                                <option value="<%= setor.id %>"><%= setor.setor %></option>
                            <%})%>
                        </select>
                        <div class="msg_erro mt-1" style="display: none;">*Campo Obrigatório</div>
                        
                        
                        <label for="grupo"><strong>Grupo:</strong></label>
                        <select class="form-control form-control-lg inputs camposBuscaPesquisa" name="grupo" id="">
                            <option value="null" disabled selected>Selecione o Grupo</option>
                            <% grupos.forEach((grupo) => { %>
                                <option value="<%= grupo.id %>"><%= grupo.grupo %></option>
                            <%})%>
                        </select>
                        <div class="msg_erro mt-1" style="display: none;">*Campo Obrigatório</div>

                        <hr>
                            
                        <div class="usr">
                            <label for="usuario"><strong>Usúario:</strong></label>
                            <input type="text" name="usuario" class="form-control form-control-lg inputs" placeholder="@username"><br>
                            <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                            
                        </div>
    
                        <label for="senha"><strong>Senha:</strong></label>
                        <div class="input-group">
                              <input type="password" name="senha" class="form-control form-control-lg inputs camposenha" placeholder="Digite a senha">
                             <div class="input-group-append">
                                 <span id="toggleSenhaAntiga" class="input-group-text visualizaSenha" onclick="visualizaSenha()">
                                     <i class="fas fa-eye"></i>
                                 </span>
                             </div>
                         </div>
                         <br>
                         <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                       
                        <label for="confirmar_senha"><strong>Confirmar Senha:</strong></label>
                        <div class="input-group">
                              <input type="password" name="confirmar_senha" class="form-control form-control-lg inputs camposenha" placeholder="Confirme a senha">
                             <div class="input-group-append">
                                 <span id="toggleSenhaAntiga" class="input-group-text visualizaSenha" onclick="visualizaSenha()">
                                     <i class="fas fa-eye"></i>
                                 </span>
                             </div>
                         </div>
                         <br>
                         <div class="msg_erro" style="display: none;">*Campo Obrigatório</div>
                        <hr>
                         <div class="permissoes ml-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="perm_usuarios">
                                <label class="form-check-label" for="perm_usuarios">Permissão aba usúarios</label>
                              </div>
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="perm_grupoUsuarios">
                                <label class="form-check-label" for="perm_grupoUsuarios">Permissão aba grupo de usúarios</label>
                              </div>
                         </div>

                        
                    </div>
    
                    <div class="card-footer">
                        <div onclick="cadastrarUsuario()" class="btn btn-success">Salvar</div>
                        <a href="/admin/listar_usuarios"><div class="btn btn-secondary">Voltar</div></a>
                    </div>
                    
                </div>
            </form>
            
        </div>
    

    </div>

</body>
<%- include('../../partials/footer.ejs') %>